/* font-family: 'Butcherman', cursive;
font-family: 'Creepster', cursive;
font-family: 'Nosifer', cursive;
font-family: 'UnifrakturMaguntia', cursive; */

/* Universal Codes */
body {
  background-image: url("../images/pexels-alina-vilchenko-5652453.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 1.5;
  margin: 10px 20px;
}

/* Body for Landscape Mobile Screens */
@media only screen and (min-width: 320px) and (orientation: landscape) {
  body {
    background-image: url("../images/pexels-rachel-claire-4998014.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* Body for Tablet Landscape Screens */
@media only screen and (min-width: 768px) and (orientation: landscape) {
  body {
    background-image: url("../images/pexels-rachel-claire-4998014.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* Body for Desktop Screens */
@media only screen and (min-width: 1200px) {
  body {
    background-image: url("../images/pexels-rachel-claire-4998014.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4em;
}

.headline {
  text-align: center;
  font-size: 2rem;
  font-family: "Creepster", cursive;
  color: rgb(223, 223, 223);
}

/* Header for Landscape Mobile Screens */
@media only screen and (min-width: 320px) and (orientation: landscape) {
  header {
    margin-top: 1em;
  }
}

/* Header for Tablet Screens */
@media only screen and (min-width: 768px) and (orientation: portrait) {
  header {
    margin-top: 5em;
  }

  .headline {
    font-size: 4rem;
  }
}

/* Header for Tablet Landscape Screens */
@media only screen and (min-width: 768px) and (orientation: landscape) {
  header {
    margin-top: 5em;
  }

  .headline {
    font-size: 4rem;
  }
}

/* Header for Desktop Screens */
@media only screen and (min-width: 1200px) {
  header {
    margin-top: 5em;
  }

  .headline {
    font-size: 5rem;
  }
}

/* Form */
#form-card {
  background-color: white;
  text-align: center;
  height: 50vh;
  opacity: 0.9;
  box-shadow: 1px 1px 5px rgba(70, 70, 70, 0.8);
  margin-top: 2em;
}

#label-text {
  font-family: "Butcherman", cursive;
  font-size: 1.5rem;
  padding-top: 1.5em;
  display: block;
  word-spacing: 0.5em;
}

#name {
  border-radius: 5px;
  border-color: rgb(163, 32, 32);
  text-align: center;
  height: 2em;
  width: 75%;
  margin-top: 0.75em;
  box-shadow: 1px 1px 5px rgba(70, 70, 70, 0.8);
  font-family: "Creepster", cursive;
  font-size: 1.5rem;
  color: rgb(196, 36, 36);
}

#submit-btn {
  background-color: black;
  margin-top: 1.75em;
  color: rgb(230, 0, 0);
  width: 40%;
  height: 2.5em;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(70, 70, 70, 0.8);
  font-family: "Nosifer", cursive;
  font-size: 1rem;
}

/* Form for Landscape Mobile Screens */
@media only screen and (min-width: 320px) and (orientation: landscape) {
  #form-card {
    height: 60vh;
    margin: 0 auto;
    margin-top: 1em;
    width: 75%;
  }

  #label-text {
    padding-top: 0.5em;
  }

  #name {
    height: 1.5em;
    width: 75%;
    margin-top: 0em;
  }

  #submit-btn {
    margin-top: 1.25em;
    width: 30%;
  }
}

/* Form for Tablet Screens */
@media only screen and (min-width: 768px) and (orientation: portrait) {
  #form-card {
    height: 45vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
  }

  #label-text {
    padding-top: 1.25em;
    font-size: 3rem;
  }

  #name {
    width: 75%;
    margin-top: 1em;
    font-size: 2rem;
  }

  #submit-btn {
    margin-top: 2em;
    font-size: 1.75rem;
  }
}

/* Form for Tablet Landscape Screens */
@media only screen and (min-width: 768px) and (orientation: landscape) {
  #form-card {
    height: 60vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
  }

  #label-text {
    padding-top: 1.25em;
    font-size: 3rem;
  }

  #name {
    width: 75%;
    margin-top: 1em;
    font-size: 2.5rem;
  }

  #submit-btn {
    margin-top: 2em;
    font-size: 1.8rem;
  }
}

/* Form for Desktop Screens */
@media only screen and (min-width: 1200px) {
  #form-card {
    height: 55vh;
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
  }

  #label-text {
    padding-top: 1.25em;
    font-size: 3.5rem;
  }

  #name {
    width: 75%;
    margin-top: 2em;
    font-size: 2.5rem;
  }

  #submit-btn {
    margin-top: 2em;
    font-size: 1.8rem;
  }
}

footer {
  font-family: "Nosifer", cursive;
  font-size: 0.75rem;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
}
